DB_URL=jdbc:mysql://localhost:3306/kiaev_e2e?createDatabaseIfNotExist=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=
JPA_DDL_AUTO=create
PORT=8080
E2E_PORT=8080
CHARGING_SYNC_ENABLED=false
KAKAO_API_KEY=
GEMINI_API_KEY=
CHARGING_API_KEY=
E2E_USE_MAP_MOCK=false
